@import '../../../styles/colors';
@import '../../../styles/media';

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  background-color: $royalBlue;

  @include mediaMedium() {
    flex-direction: column;
  }
}

.image {
  object-fit: cover;
  width: 300px;
  height: 300px;
  @include mediaMedium() {
    width: 100%;
    height: auto;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.title {
  margin: 0;
  margin-bottom: 8px;
}