@import '../../../styles/colors';
@import '../../../styles/media';

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  background-color: $royalBlue;

  @include mediaMedium() {
    flex-direction: column;
  }
}

.image {
  object-fit: contain;
  width: 300px;
  background-color: lighten($royalBlue, $amount: 5%);
  @include mediaMedium() {
    width: 100%;
    height: auto;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.title {
  margin-bottom: 8px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}