/* Colors palette */
$cMulledWine: #453C67;
$cRoyalBlue: #6D67E4;
$cShakespeare: #46C2CB;
$cWhite: #FFF;
$cBlack: #000;
$cTexas: #F2F7A1;
$cRedOrange: #ff3333;

/* Colors */
$main: $cMulledWine;
$secondary: $cRoyalBlue;
$controlsMain: $cShakespeare;
$errors: $cRedOrange;

