@import '../../../styles//colors';

.button {
  display: flex;
  align-items: flex-start;
  padding: 16px 24px;
  width: fit-content;
  margin-top: auto;
  background: $shakespeare;
  &:hover {
    background: darken($shakespeare, 5%);
  }
}