@import '../../../styles/colors';

.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  width: fit-content;
  margin-top: auto;
  background: $shakespeare;
  &:hover {
    background: darken($shakespeare, 5%);
  }
}

.label {
  line-height: 30px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 8px;
}