@import '../../../styles/colors';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: $secondary;
  margin-bottom: 16px;
  padding: 16px;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.formGroup {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  min-width: 50%;
}